.div-father-user{
    width: 100%;
    height: 90vh;
}

.div-1{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 16px;
}

.trying{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 16px;
    width: 100%;
}

.title-user{
    align-items: center;
    min-height: 24px;
    padding-bottom: 8px;
}